body{
    margin: 0;
    font-family: 'Jost', sans-serif;
}
header{
    height: 20vh;
    width: 100vw;
    background-color: rgba(217, 217, 217, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header a{
    text-decoration: none;
    margin-right: 93px;
    font-weight: 400 ;
    font-size: 35px;
    color: #7A7070;
}
.active-link{
    color: #3D6FB4;
}
main{
    height: 80vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 100%;
}
section h1{
    font-weight: 400;
    font-size: 60px;
    margin: 0;
}
section p{
    width: 500px;
    height: 150px;
    font-weight: 400;
    font-size: 30px;
}
img{
    height: 63vh;
}
.buttons{
    display: flex;
    justify-content: flex-start;
}
button{
    width: 150px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 30px;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    margin-right: 36px;
}
.pink{
    background-color: #ECBCBC;
}
.white{
    background-color: transparent;
}